.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    border:1px solid gray;
    z-index: 1;
    height: 100vh;
    padding: 20px 0px 0px 0px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2); /* Sombra exterior */
    ul {
      padding: 20px;
      li {
       list-style: none;
       margin: 0px 0px 10px 0px;
       cursor: pointer;
      }
      li.active {
        color:#0161f2;
      }

    }

  }
