.table-navigation {
  display: flex;
              justify-self: end;

              .nav-button {
                background: white;
                padding: 10px;
                border: 1px solid gray;
                cursor: pointer;;
              }

              .current-page {
                background: #0161f2;
                padding: 10px;
                border: 1px solid gray;
              }

              .nav-button:hover {
                background: #f8f8f8;
                color: gray;
              }
            }
