<section class="user-content">
        <div class="card-container">
              <div class="card-info">
                <app-card-header title="USUARIOS"></app-card-header>

                <app-user-table [columns]="columns" [usersPage]="usersPage"></app-user-table>

                <footer>
                  <app-table-pagination
                  (onFirstPage)="firstPage()"
                  (onPreviousPage)="previousPage()"
                  (onLastPage)="lastPage()"
                  (onNextPage)="nextPage()"
                  [currentPage]="currentPage"
                  [totalPages]="totalPages"
                  [rangeText]="rangeText()"
                  ></app-table-pagination>

                </footer>
              </div>
        </div>
    </section>
