<section>
  <nav class="sidebar">
    <ul>
      <li>Dashboard</li>
      <li>Weather</li>
      <li>Usuarios</li>
    </ul>
  </nav>
  <main class="main-section">
    <header >

    </header>
    <!-- <section class="weather-content">
      <div class="first-column">
         <div class="card-container">
            <div class="card-info">
              <header >
              <p class="title">PAÍS SELECCIONADO</p>
              </header>
              <p>{{selectedCountry?.name.common}}</p>
              <p>Capital: {{selectedCountry?.capital}}</p>
              <p>Region: {{selectedCountry?.region}}</p>
              <p><span>Latitud: {{selectedCountry?.latlng[0]}}</span><span>  Longitud: {{selectedCountry?.latlng[1]}}</span></p>


            </div>
         </div>

         <div class="card-container ">
            <div class="card-info">
              <header >
              <p class="title">OTRAS TAREAS</p>
              </header>
              <ul class="todo-list">
                <li *ngFor="let task of tasks" [class.completed]="task.completed">{{task.name}}</li>
              </ul>


            </div>
         </div>
      </div>
      <div class="second-column">
         <div class="card-container">
            <div class="card-info">
              <header >
              <p class="title">CLIMA</p>
              </header>
              <div class="weather-container">
                <picture *ngIf="countryWeatherInfo" class="weather-image">
                  <img *ngIf="countryWeatherInfo['weather'] && countryWeatherInfo['weather'].length > 0 && countryWeatherInfo['weather'][0]['main'] === 'Clouds'"  src="../../../../assets/nublado.png" alt="nublado">
                  <img *ngIf="countryWeatherInfo['weather'] && countryWeatherInfo['weather'].length > 0 && countryWeatherInfo['weather'][0]['main'] === 'Clear'"  src="../../../../assets/soleado.png" alt="soleado">
                  <img *ngIf="countryWeatherInfo['weather'] && countryWeatherInfo['weather'].length > 0 && countryWeatherInfo['weather'][0]['main'] === 'Rain'"  src="../../../../assets/lluvioso.png" alt="lluvioso">
                </picture>
                <div class="weather-info">
                  <p> {{countryWeatherInfo?.main?.temp}} °C</p>
                  <p *ngIf=" countryWeatherInfo?.weather && countryWeatherInfo?.weather.length > 0">{{countryWeatherInfo?.weather[0].main}} </p>
                </div>

              </div>


            </div>
         </div>

         <div class="card-container">
            <div class="card-info timezones">
              <header >
              <p class="title">ZONAS HORARIAS DISPONIBLES</p>
              </header>
              <ul>
                <li (click)="getTimeAndDate(timezone)" *ngFor="let timezone of selectedCountry?.timezones">
                  <u>{{timezone}}</u>
                </li>
              </ul>


            </div>
         </div>

          <div class="card-container">
            <div class="card-info">
              <header >
              <p class="title">HORA</p>
              </header>
              <p><span>{{currentDateAndTime.fecha}}</span><span>, {{currentDateAndTime.hora}}</span></p>
              <p>{{selectedCountry?.region}}/{{selectedCountry?.capital}}</p>


            </div>
         </div>
      </div>
      <div class="third-column">
         <div class="card-container">
            <div class="card-info">
              <header >
              <p class="title">PAÍSES DISPONIBLES</p>
              </header>
              <picture (click)="selectCountry(country)" *ngFor="let country of countriesInfo" class="country">
                <img [src]="country.flags.png" [alt]="country.flags.alt">
                <p class="country-pointer">{{country.name.common}}</p>
              </picture>


            </div>
         </div>

      </div>
    </section> -->

    <section class="user-content">
        <div class="card-container">
              <div class="card-info">
                <header >
                  <p class="title">USUARIOS</p>
                </header>

                <table>
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Email</th>
                      <th>Fecha Registro</th>
                      <th>Último Login</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of usersPage">
                      <td>{{ user.nombre }}</td>
                      <td>{{ user.email }}</td>
                      <td>{{ user.fechaRegistro | formatDateTime }}</td>
                      <td>{{ user.fechaUltimoLogin | formatDateTime }}</td>
                    </tr>
                  </tbody>
                </table>

                <footer>
                  <p>{{ rangeText() }}</p>

                  <div class="table-navigation">
                      <button (click)="firstPage()" [disabled]="currentPage === 1">Primero</button>
                      <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
                      <button class="current-page">{{currentPage}}</button>
                      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
                      <button (click)="lastPage()" [disabled]="currentPage === totalPages">Último</button>
                  </div>
                </footer>




              </div>
        </div>
    </section>



  </main>
</section>
