<section class="weather-content">
      <div class="first-column">
         <div class="card-container">
            <div class="card-info">
              <app-card-header title='PAÍS SELECCIONADO'></app-card-header>
              <p>{{selectedCountry?.name.common}}</p>
              <p>Capital: {{selectedCountry?.capital}}</p>
              <p>Region: {{selectedCountry?.region}}</p>
              <p><span>Latitud: {{selectedCountry?.latlng[0]}}</span><span>  Longitud: {{selectedCountry?.latlng[1]}}</span></p>


            </div>
         </div>

         <div class="card-container ">
            <div class="card-info">
              <app-card-header title='OTRAS TAREAS'></app-card-header>
              <ul class="todo-list">
                <li *ngFor="let task of tasks" [class.completed]="task.completed">{{task.name}}</li>
              </ul>


            </div>
         </div>
      </div>
      <div class="second-column">
         <div class="card-container">
            <div class="card-info">
              <app-card-header title='CLIMA'></app-card-header>
              <div class="weather-container">
                <picture *ngIf="countryWeatherInfo" class="weather-image">
                  <img *ngIf="countryWeatherInfo['weather'] && countryWeatherInfo['weather'].length > 0 && countryWeatherInfo['weather'][0]['main'] === 'Clouds'"  src="../../../../assets/nublado.png" alt="nublado">
                  <img *ngIf="countryWeatherInfo['weather'] && countryWeatherInfo['weather'].length > 0 && countryWeatherInfo['weather'][0]['main'] === 'Clear'"  src="../../../../assets/soleado.png" alt="soleado">
                  <img *ngIf="countryWeatherInfo['weather'] && countryWeatherInfo['weather'].length > 0 && countryWeatherInfo['weather'][0]['main'] === 'Rain'"  src="../../../../assets/lluvioso.png" alt="lluvioso">
                </picture>
                <div class="weather-info">
                  <p> {{countryWeatherInfo?.main?.temp}} °C</p>
                  <p *ngIf=" countryWeatherInfo?.weather && countryWeatherInfo?.weather.length > 0">{{countryWeatherInfo?.weather[0].main}} </p>
                </div>

              </div>


            </div>
         </div>

         <div class="card-container">
            <div class="card-info timezones">
              <app-card-header title='ZONAS HORARIAS DISPONIBLES'></app-card-header>
              <ul>
                <li (click)="getTimeAndDate(timezone)" *ngFor="let timezone of selectedCountry?.timezones">
                  <u>{{timezone}}</u>
                </li>
              </ul>


            </div>
         </div>

          <div class="card-container">
            <div class="card-info">
              <app-card-header title='HORA'></app-card-header>
              <p><span>{{currentDateAndTime.fecha}}</span><span>, {{currentDateAndTime.hora}}</span></p>
              <p>{{selectedCountry?.region}}/{{selectedCountry?.capital}}</p>


            </div>
         </div>
      </div>
      <div class="third-column">
         <div class="card-container">
            <div class="card-info">
              <app-card-header title='PAÍSES DISPONIBLES'></app-card-header>
              <picture (click)="selectCountry(country)" *ngFor="let country of countriesInfo" class="country">
                <img [src]="country.flags.png" [alt]="country.flags.alt">
                <p class="country-pointer">{{country.name.common}}</p>
              </picture>


            </div>
         </div>

      </div>
    </section>
