<section class="weather-content">
      <div class="first-column">
        <app-country-data-card [selectedCountry]="selectedCountry"></app-country-data-card>
        <app-todo-list [tasks]="tasks"></app-todo-list>
      </div>
      <div class="second-column">
        <app-country-weather-card [countryWeatherInfo]="countryWeatherInfo"></app-country-weather-card>

        <app-countries-timezones-list [timezones]="selectedCountry?.timezones" (onSelectedTimezone)="getTimeAndDate($event)"></app-countries-timezones-list>

        <app-country-hour-card [currentDateAndTime]="currentDateAndTime" [selectedCountry]="selectedCountry"></app-country-hour-card>

      </div>
      <div class="third-column">
        <app-countries-card-list (onSelectedCountry)="selectCountry($event)" [countriesInfo]="countriesInfo"></app-countries-card-list>

      </div>
    </section>
